<div class="comments-block">
  <div class="page-header">
    <h1>Commentaires <span class="badge"><%= commentable.comments.count %></span></h1>
  </div>
  <ul class="comments-list">
    <% commentable.comments.each do |comment| %>
        <li>
          <div class="row">
            <div class="col-md-2 col-sm-3 col-xs-3"><img class="comments-author img-responsive"
                                                         src="http://placehold.it/600x600" alt="Arthur"
                                                         style="max-height: 102px"/></div>
            <div class="col-md-10 col-sm-9 col-xs-9">
              <div class="comment-content">
                <div class="comments-info clearfix" style="margin-bottom: 9px">
                  <h4 class="pull-left"><a href="<%= comment.user.username %>">
                    <%= comment.user.username %>
                  </a></h4>
                  <!--<span class="comments-num pull-right">1</span>-->
                </div>
                <%= comment.content.gsub("\n", '<br/>').html_safe %>
                <div class="comments-info">
                  Le <%= l comment.updated_at, format: :long %>
                  <% if current_user && current_user.owner_of?(comment) %>
                      <button class="btn btn-info btn-sm pull-right edit-comment"><i class="fa fa-reply"></i> Modifier
                      </button>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </li>
    <% end %>

  </ul>
</div>
<!--Comments Ends -->
<!-- AddComment Form -->

<div class="add-comment padding">

  <!--<form action="#" method="post" id="review-form" class="orb-form">-->
  <%= form_for [commentable, Comment.new], url: comments_path, html: {class: 'orb-form'} do |f| %>
      <header>Ajouter un commentaire</header>
      <% if user_signed_in? %>
          <%= f.hidden_field :commentable_type, value: commentable.class.name %>
          <%= f.hidden_field :commentable_id, value: commentable.id %>
          <fieldset>
            <!--<section>-->
            <!--<label class="input"> <i class="icon-append fa fa-user"></i>-->
            <!--<input type="text" name="name" id="name" placeholder="Your name">-->
            <!--</label>-->
            <!--</section>-->
            <!--<section>-->
            <!--<label class="input"> <i class="icon-append fa fa-envelope-o"></i>-->
            <!--<input type="email" name="email" id="email" placeholder="Your e-mail">-->
            <!--</label>-->
            <!--</section>-->

            <section>
              <label class="label"></label>
              <label class="textarea"> <i class="icon-append fa fa-comment"></i>
                <%= f.text_area :content, rows: 5, placeholder: 'Votre commentaire' %>
                <!--<textarea rows="5" name="review" id="review" placeholder="Votre commentaire"></textarea>-->
              </label>
            </section>
          </fieldset>
          <footer>
            <%= button_tag(type: 'submit', class: 'btn btn-lg btn-default') do %>
                <i class="fa fa-plus-circle"></i> Ajouter
            <% end %>
          </footer>
          <div class="message"><i class="fa fa-check"></i>

            <p>Your comment was successfully sent!</p>
          </div>
      <% else %>
          <br/>

          <div class="alert alert-warning">Vous devez
            <a href="<%= new_user_registration_path %>">créer un compte</a> ou
            <a href="<%= new_user_session_path %>">vous connecter</a> pour écrire un commenaire.
          </div>
      <% end %>
  <% end %>
  <!--</form>-->
</div>