<div class="container frontend events-show">

  <!-- Blog Post Starts -->
  <div class="blog-post">
    <div class="blog-header">
      <!--Big Date-->
      <div class="blog-date"><span class="month"><%= @event.date ? l(@event.date, format: :month) : '?' %></span>
        <span class="day"><%= @event.date ? l(@event.date, format: :day) : '?' %></span> <span
      class="year"><%= @event.date ? l(@event.date, format: :year) : '2015' %></span></div>
      <!--/Big Date-->
      <div class="row page-header">
        <div class="col-md-7">
          <h1><%= @event.name.uc_first %></h1>
        </div>
        <div class="col-md-5">
          <%= render partial: 'attendances/attend_btn' %>
          <% if user_signed_in? && current_user.owner_of?(@event) %>

              <a href="<%= url_for edit_event_path(@event) %>" class="btn btn-info btn-event pull-right" style="margin-left: 8px">
                <i class="fa fa-pencil"></i> Modifier
              </a>
              <!--<a href="http://google.com" class="btn btn-danger btn-event pull-right">-->
              <!--<i class="fa fa-times"></i> Supprimer-->
              <!--</a>-->
          <% end %>

        </div>
        <% if user_signed_in? && current_user.owner_of?(@event) %>
            <div class="col-md-12">
              <div class="callout callout-info">
                <h4>Organisateur</h4>

                <p>Vous êtes organisateur de cet évènement.</p>
              </div>
            </div>
        <% elsif user_signed_in? && current_user.attending_to?(@event) %>
            <div class="col-md-12">
              <div class="callout callout-success">
                <h4>Vous participez !</h4>

                <p>Vous êtes inscrit à cet évènement. Notez la date et l'heure pour être sur de ne pas oublier.
                  Si vous ne pouvez pas venir,
                  <%= link_to 'cliquez ici', attendance_path(@attendance, event_id: @event.id),
                              confirm: 'Êtes-vous sûr de vouloir annuler ?',
                              method: :delete %>
                  pour anuller votre participation et prévenez l'organisateur à l'avance.
                </p>
              </div>
            </div>
        <% end %>
      </div>
      <div class="row">

      </div>

      <div class="blog-info clearfix">
        <div class="pull-left">
          <i class="fa fa-bookmark"></i> <a href="#"><%= @event.category.name %></a>
          <span class="grey">|</span>
          <i class="fa fa-user"></i> Crée par <a href="#"><%= @event.user.username %></a>
          <% if @event.spots %>
              <span class="grey">|</span>
              <i class="fa fa-male"></i> Places disponibles <a href="#" class="nolink"><%= @event.spots %></a>
          <% end %>
          <span class="grey">|</span>
          <i class="fa fa-comment"></i> <%= @event.comments.count %>
        </div>

        <%= render partial: 'shared/like_btn', locals: {likable: @event} %>

      </div>
    </div>
    <!--<div class="main-blog-img"><img class="img-responsive" src="http://placehold.it/1024x768"/></div>-->
    <div class="main-blog-img">
      <%= image_tag @event.picture_url(:thumb_1040).to_s, class: 'img-responsive img-left' %>
    </div>


    <div class="dropcap"><%= @event.description[0] %></div>
    <p><%= @event.description[1..-1].gsub("\n", '<br/>').html_safe %></p>


    <div class="blog-tags padding">Tags:
      <% @event.tags.each do |t| %>
          <a href="#" rel="tag"><%= t.name %></a>
      <% end %>
    </div>

    <div class="blog-tags padding">Compétences:
      <% @event.skills.each do |s| %>
          <a href="#" rel="tag"><%= s.name %></a>
      <% end %>
    </div>
  </div>
  <!-- Blog Post Ends -->

  <!-- Post Author -->
  <div class="clearfix"></div>
  <div class="comments-block">
    <div class="page-header">
      <h1>Participants <span class="badge">
        <%= @event.attending_users.count + 1 %>
        <%= '/' if @event.spots %>
        <%= @event.spots %>
      </span></h1>
    </div>
    <ul class="comments-list">
    </ul>

    <div class="blog-author"><img src="http://placehold.it/600x600" alt="Arthur" class="img-responsive"/>

      <p class="attendant-name">
        <span class="bold-text"><%= @event.user.username.uc_first %></span>
        <span class="label bg-purple">Organisateur</span>
      </p>

      <p><%= @event.user.bio %></p>

      <!--<div class="social-buttons">-->
      <!--<ul class="social">-->
      <!--<li><a href="http://facebook.com/"><i class="entypo-facebook-circled"></i></a></li>-->
      <!--<li><a href="http://linkedin.com/"><i class="entypo-linkedin-circled"></i></a></li>-->
      <!--<li><a href="http://google.com/"><i class="entypo-gplus-circled"></i></a></li>-->
      <!--<li><a href="http://twitter.com/"><i class="entypo-twitter-circled"></i></a></li>-->
      <!--<li><a href="http://pinterest.com/"><i class="entypo-pinterest-circled"></i></a></li>-->
      <!--</ul>-->
      <!--</div>-->
    </div>

    <% @event.attending_users.each do |u| %>
        <div class="blog-author">
          <img src="http://placehold.it/600x600" alt="Arthur" class="img-responsive"/>

          <p>
            <span class="bold-text"><%= u.username.uc_first %></span>
            <span class="label bg-dark-blue">Participant</span>
          </p>

          <p><%= u.bio || '...' %></p>
        </div>
    <% end %>

  </div>
  <!--/Post Author-->

  <!-- Comments -->
  <%= render partial: 'comments/comments', locals: {commentable: @event} %>

  <!-- /Comment Form-->
</div>
<!-- /Left Side-->

<!--Block Right-->
<!--<div class="col-md-4 margin-top">-->

<!--<div class="tabs-green">-->
<!--<ul class="nav nav-tabs">-->
<!--<li class="active"><a href="#one-normal" data-toggle="tab"><i class="fa fa-camera"></i> One</a></li>-->
<!--<li><a href="#two-normal" data-toggle="tab"><i class="fa fa-music"></i> Two</a></li>-->
<!--<li><a href="#three-normal" data-toggle="tab"><i class="fa fa-film"></i> Three</a></li>-->
<!--</ul>-->
<!--<div class="tab-content">-->
<!--<div class="tab-pane active" id="one-normal">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras-->
<!--sed elit non arcu gravida cursus. Ut non porttitor augue. Sed ornare diam ac tortor molestie, ut-->
<!--vestibulum nibh placerat. In hac habitasse platea dictumst. Vivamus pharetra pretium purus, ut suscipit-->
<!--magna malesuada at.-->
<!--</div>-->
<!--<div class="tab-pane" id="two-normal">Praesent porta, urna et gravida facilisis, dolor ante cursus ante,-->
<!--lobortis feugiat orci odio sit amet erat. Ut elit neque, placerat at mi at, accumsan ullamcorper nibh.-->
<!--Donec dignissim, eros a rhoncus porttitor, erat est facilisis metus, suscipit consectetur tellus lacus-->
<!--at quam. Aenean nec nibh justo. Proin malesuada erat in tincidunt aliquet. Cras vel congue nibh, sodales-->
<!--vehicula libero. Phasellus justo diam, varius vel libero eget, aliquam pharetra nisi.-->
<!--</div>-->
<!--<div class="tab-pane" id="three-normal">Nulla posuere mauris sem, vel hendrerit arcu fringilla ut. Quisque-->
<!--lacinia placerat dolor. Etiam semper convallis pulvinar. Suspendisse sollicitudin erat ac faucibus-->
<!--adipiscing. Pellentesque sagittis mollis tincidunt. Duis blandit leo ligula, vitae commodo diam posuere-->
<!--eget. Donec tempor euismod elementum. Nunc interdum bibendum lobortis. Etiam eget justo eu risus-->
<!--interdum mollis.-->
<!--</div>-->
<!--</div>-->
<!--</div>-->

<!--<div class="text-widget">-->
<!--<form action="" id="data-pickers" class="orb-form">-->
<!--<fieldset>-->
<!--<section>-->
<!--<div id="inline"></div>-->
<!--</section>-->
<!--</fieldset>-->
<!--</form>-->
<!--</div>-->
<!--<div class="text-widget">-->
<!--<h3>Do you know that?</h3>-->

<!--<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.-->
<!--Lorem Ipsum has been the industry's standard dummy text ever since the-->
<!--1500s, when an unknown printer took a galley of type and scrambled it to-->
<!--make a type specimen book. It has survived not only five centuries, but-->
<!--also the leap into electronic typesetting, remaining essentially unchanged.</p>-->
<!--</div>-->
<!--<div class="text-widget">-->
<!--<div class="blog-tags"><a href="#" rel="tag">CSS3</a> <a href="#" rel="tag">HTML5</a> <a href="#"-->
<!--rel="tag">jQuery</a>-->
<!--<a href="#" rel="tag">Premium Theme</a> <a href="#"-->
<!--rel="tag">Design</a> <a href="#" rel="tag">Cool</a> <a href="#"-->
<!--rel="tag">Love</a>-->
<!--<a-->
<!--href="#" rel="tag">Sex</a> <a href="#" rel="tag">Envato</a> <a href="#" rel="tag">Modern-->
<!--Design</a> <a-->
<!--href="#" rel="tag">SEO Optimization</a> <a href="#" rel="tag">Big Money Deal</a> <a href="#"-->
<!--rel="tag">Hipsta</a>-->
<!--</div>-->
<!--</div>-->
<!--</div>-->
<!-- /Row Block Right-->