<div class="container frontend events-show">

  <!-- Blog Post Starts -->
  <div class="blog-post">
    <div class="blog-header">
      <!--Big Date-->
      <div class="blog-date"><span class="month"><%= @event.date ? l(@event.date, format: :month) : '?' %></span>
        <span class="day"><%= @event.date ? l(@event.date, format: :day) : '?' %></span> <span
      class="year"><%= @event.date ? l(@event.date, format: :year) : '2015' %></span></div>
      <!--/Big Date-->
      <div class="row page-header">
        <div class="col-md-7">
          <h1><%= @event.name.uc_first %></h1>
        </div>
        <div class="col-md-5">
          <%= render partial: 'attendances/attend_btn' %>
          <% if user_signed_in? && current_user.owner_of?(@event) %>

              <a href="<%= url_for edit_event_path(@event) %>" class="btn btn-info btn-event pull-right" style="margin-left: 8px">
                <i class="fa fa-pencil"></i> Modifier
              </a>
              <!--<a href="http://google.com" class="btn btn-danger btn-event pull-right">-->
              <!--<i class="fa fa-times"></i> Supprimer-->
              <!--</a>-->
          <% end %>

        </div>
        <% if user_signed_in? && current_user.owner_of?(@event) %>
            <div class="col-md-12">
              <div class="callout callout-info">
                <h4>Organisateur</h4>

                <p>Vous êtes organisateur de cet évènement.</p>
              </div>
            </div>
        <% elsif user_signed_in? && current_user.attending_to?(@event) %>
            <div class="col-md-12">
              <div class="callout callout-success">
                <h4>Vous participez !</h4>

                <p>Vous êtes inscrit à cet évènement. Notez la date et l'heure pour être sur de ne pas oublier.
                  Si vous ne pouvez pas venir,
                  <%= link_to 'cliquez ici', attendance_path(@attendance, event_id: @event.id),
                              confirm: 'Êtes-vous sûr de vouloir annuler ?',
                              method: :delete %>
                  pour anuller votre participation et prévenez l'organisateur à l'avance.
                </p>
              </div>
            </div>
        <% end %>
      </div>
      <div class="row">

      </div>

      <div class="blog-info clearfix">
        <div class="pull-left">
          <i class="fa fa-bookmark"></i> <a href="#"><%= @event.category.name %></a>
          <span class="grey">|</span>
          <i class="fa fa-user"></i> Crée par <a href="#"><%= @event.user.username %></a>
          <% if @event.spots %>
              <span class="grey">|</span>
              <i class="fa fa-male"></i> Places disponibles <a href="#" class="nolink"><%= @event.spots %></a>
          <% end %>
          <span class="grey">|</span>
          <i class="fa fa-comment"></i> <%= @event.comments.count %>
        </div>

        <%= render partial: 'shared/like_btn', locals: {likable: @event} %>

      </div>
    </div>
    <!--<div class="main-blog-img"><img class="img-responsive" src="http://placehold.it/1024x768"/></div>-->
    <div class="main-blog-img">
      <%= image_tag @event.picture_url(:thumb_1040).to_s, class: 'img-responsive img-left' %>
    </div>


    <div class="dropcap"><%= @event.description[0] %></div>
    <p><%= @event.description[1..-1].gsub("\n", '<br/>').html_safe %></p>


    <div class="blog-tags padding">Tags:
      <% @event.tags.each do |t| %>
          <a href="#" rel="tag"><%= t.name %></a>
      <% end %>
    </div>

    <div class="blog-tags padding">Compétences:
      <% @event.skills.each do |s| %>
          <a href="#" rel="tag"><%= s.name %></a>
      <% end %>
    </div>
  </div>
  <!-- Blog Post Ends -->

  <% if @event.address %>
      <div class="clearfix"></div>
      <div class="comments-block">
        <div class="page-header">
          <h1>Lieu</h1>
        </div>
      </div>
      <div style="display:none"
           id="event_address"
           data-address="<%= @event.address %>"
           data-latitude="<%= @event.latitude %>"
           data-longitude="<%= @event.longitude %>"></div>
      <div class="blog-info clearfix">
        <div class="pull-left">
          <i class="fa fa-map-marker"></i>
          <a href="http://maps.google.com/maps?q=<%= @event.address %>" target="_blank">
            <%= @event.address %>
          </a>
        </div>
      </div>

      <div id="map-canvas"></div>
  <% end %>

  <!-- Post Author -->
  <div class="clearfix"></div>
  <div class="comments-block">
    <div class="page-header">
      <h1>Participants <span class="badge">
        <%= @event.attending_users.count + 1 %>
        <%= '/' if @event.spots %>
        <%= @event.spots %>
      </span></h1>
    </div>
    <ul class="comments-list">
    </ul>

    <div class="blog-author"><img src="http://placehold.it/600x600" alt="Arthur" class="img-responsive"/>

      <p class="attendant-name">
        <span class="bold-text"><%= @event.user.username.uc_first %></span>
        <span class="label bg-purple">Organisateur</span>
      </p>

      <p><%= @event.user.bio %></p>

    </div>

    <% @event.attending_users.each do |u| %>
        <div class="blog-author">
          <img src="http://placehold.it/600x600" alt="Arthur" class="img-responsive"/>

          <p>
            <span class="bold-text"><%= u.username.uc_first %></span>
            <span class="label bg-dark-blue">Participant</span>
          </p>

          <p><%= u.bio || '...' %></p>
        </div>
    <% end %>

  </div>

  <%= render partial: 'comments/comments', locals: {commentable: @event} %>

</div>
