<% if admin? %>

    <div class="list admin admin_box" style="border-top: none;line-height: 14px">
      <div class="pull-right"><b><a href="<%= admin_dashboard_path %>">Voir l'admin</a></b></div>


      <div>
        <button id="admin_expand" class="btn btn-micro"><i class="fa fa-chevron-up"> plus</i></button>
        <button id="admin_collapse" class="btn btn-micro"><i class="fa fa-chevron-down"> moins</i></button>
      </div>

      <br/>

      <div></div>
      <div style="margin: 4px 4px 4px 0;display: none">
        <i class='icon-tags'></i> Metas
        <div class="btn-group" data-toggle="buttons-radio">
          <button onclick="$('.metas').hide();return false;" class="btn btn-micro active">
            <i class="icon-minus"></i>
            hide
          </button>
          <button onclick="$('.metas').show();return false;" class="btn btn-micro "><i class="icon-plus"></i>
            show
          </button>
        </div>
      </div>

      <i class='icon-eye-open'></i> Visu
      <div class="btn-group">
        <button type="button" id="admin_preview" class="btn btn-micro active"><i class="fa fa-pencil-square-o"></i>
          Admin
        </button>
        <button type="button" id="normal_preview" class="btn btn-micro"><i class="fa fa-check"></i> Normal</button>
      </div>

      <div class='metas'>
        <b>Title:</b><br/>
        <%= render partial: 'shared/editable_span', locals: {label: "title_#{request.path}"} %>
        <br/>

        <b>Description:</b><br/>
        <%= render partial: 'shared/editable_span', locals: {label: "description_#{request.path}"} %>
        <br/>

        <b>Keywords:</b><br/>
        <%= render partial: 'shared/editable_span', locals: {label: "keywords_#{request.path}"} %>
        <br/>
      </div>

      <br/>

      <div class="favicon_editor">
        <b>Favicon</b>
        <%= render partial: 'shared/editable_span', locals: {label: 'favicon_url'} %>
      </div>

    </div>
<% end %>