<!DOCTYPE html>
<html>
<head>
  <title>ActivactionRails</title>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body data-signed-in='<%= user_signed_in?.to_s %>'>

<%= render partial: 'layouts/menu' %>
<%= render partial: 'shared/flash_messages' %>
<!--{{> chatWindow}}-->
<!--{{> userMenu}}-->
<!--{{> carousel}}-->

<div class="row">
  <div class="content-left col-md-10">
    <%= yield %>
  </div>
  <div class="content-right col-md-2">
    {{> userMenu}}
  </div>
</div>

<%= render partial: 'layouts/footer' %>
<script type="text/javascript">
    $(document).ready(function () {
        var controller = app.<%= params[:controller].gsub('/', '_') %>;
        // bracket notation for ie (because .new is an error)
        var action = app.<%= params[:controller].gsub('/', '_') %>['<%= params[:action] %>'];

        if (app != undefined) app.init();
        if (controller != undefined) controller.init();
        if (action != undefined) action.init();
    });
</script>

</body>
</html>
